In [1]:
import pickle

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
words_by_rate = [[],[],[],[],[],[]]
path = '../data/processing/train.lst'
words_and_rate_raw = open(path,'r')
for wa in words_and_rate_raw:
    star = int(wa.split()[0][9])
    words_by_rate[star].extend(wa.split()[1:])

In [7]:
pd.DataFrame([w for w in words_by_rate[5]])

            0
0           川
1           、
2        ライバル
3           、
4          到着
5          する
6           、
7          金融
8          派生
9          商品
10          、
11       リビエラ
12          ・
13          ・
14        日本語
15          で
16         書く
17          と
18       ばらばら
19          の
20         言葉
21          だ
22          が
23          、
24         英語
25          で
26         表記
27         する
28          と
29      river
...       ...
346673      し
346674     まし
346675      た
346676      が
346677      、
346678     家族
346679      四
346680      人
346681      で
346682     使う
346683     ので
346684     まぁ
346685    いっか
346686      、
346687      と
346688     思い
346689     まし
346690      た
346691      。
346692  コロンブス
346693      な
346694     ので
346695     安心
346696      し
346697      て
346698     使っ
346699      て
346700      い
346701     ます
346702      。

[346703 rows x 1 columns]

In [27]:
dfs = []
for i in range(1,6):
    dfs.append(pd.DataFrame({
        "word" : [w for w in words_by_rate[i]],
        "star" : i
    })
    )

In [31]:
df = dfs[0]
for d in dfs:
    df = df.append(d)

In [39]:
df.shape

(1376655, 2)

In [36]:
df_train, df_test = train_test_split(df, test_size=0.3)

In [38]:
df_train.shape

(963658, 2)